{% extends "base.html" %}

{% block content %}
{% for chapter in chapters %}
    <div class="post" id="{{ chapter.id }}">
        <h2> Capítulo #{{ forloop.counter }}</h2>
        <br>
        <center>
            {% if chapter.image_url %}
            <img data-original="{{ chapter.image_url }}" src="{{ STATIC_URL }}img/grey.gif" class="post_image lazyload">
            {% endif %}
            <p class="post_text">
                "{{ chapter.phrase }}"
            </p>
        </center>
    </div>
    {% if forloop.last and not full_date %}
        <div class="post">
            <center>
                <h3><a href="{% url core:new_chapter %}">Continue a história...</a></h3>
            </center>
        </div>
    {% endif %}
{% empty %}
    <div class="post">
        <center>
            <h2>Ainda não começaram a história de hoje!</h2>
            <h3>Se quiser ser o primeiro, <a href="{% url core:new_chapter %}">aumente um ponto</a>!</h3>
        </center>
    </div>
{% endfor %}
{% endblock %}
