{% extends 'base.html' %}

{% block content %}
    <div class="form_aumenta_ponto">
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            <fieldset>
                <center>
                    <legend>Quem conta um conto, aumenta um ponto...</legend>
                    <p>A frase deve ter no máximo 140 caracteres, pra não ficar muito grande.</p>
                    <br>
                </center>
                <div class="control-group">
                    <label class="control-label">Frase*:</label>
                    <div class="controls">
                        {{ form.phrase }}{{ form.phrase.errors }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Endereço da imagem:</label>
                    <div class="controls">
                        {{ form.image_url }}{{ form.image_url.errors }}
                    </div>
                </div>
                <div class="botao_form">
                    <input class="btn btn-inverse" type="submit"></button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
